doctype html
html
    head
        title Zumba academy
        block scripts
        block style 
    body
        nav#navbar
            ul
                div#logo
                    img(src="/static/logo.png", alt="")
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Service]
                li #[a(href="/") ClassInfo]
                li #[a(href="/contact") ContactUs]

        block content
        footer#footer
            |Copyright © 2022 ZumbaFitness  all rights reservd
    